:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;

  /* Light Theme */
  --color-background: #9999FF;
  --color-text: #111111;
  --color-link: #222299;
  --color-link-hover: #000033;
}

/* Dark Theme */
.dark {
  --color-background: #111111;
  --color-text: #9999FF;
  --color-link: #222299;
  --color-link-hover: #6666FF;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;

  transition: all 200ms;
}

a:hover {
  color: var(--color-link-hover);
}

a.router-link-exact-active {
  color: var(--color-text);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);

  transition: all 200ms;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: var(--color-background);
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: var(--color-link);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-link-hover);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-text);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button > svg path {
  fill: var(--color-background) !important;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
